---

# Opencast
admin_email: opencast-support@elan-ev.de
opencast_version_major: 18
opencast_version_minor: 5
# Enable Opencast release repository
opencast_repository_enabled_release: true

opencast_version: "{{ opencast_version_major }}.{{ opencast_version_minor }}"

opencast_admin_password: "{{ vault_opencast_admin_password }}"
opencast_digest_password: "{{ vault_opencast_digest_password }}"

# Database
opencast_postgresql_version: 16
opencast_postgresql_database: opencast
opencast_postgresql_user: opencast
opencast_postgresql_password: "{{ vault_database_password }}"

# Optional configurations

# Default: 512
# opencast_mariadb_max_connections:

# Default: '{{ ((ansible_memtotal_mb / 1024) * 0.8) | int }}G'
# opencast_mariadb_innodb_buffer_pool_size:

# Storage
nfs_opencast_share_server_url: isi6g-nfs.rz.uos.de:/opencast-explore
opencast_nfs_mountpoint: /mnt/opencast
opencast_storage_folder: "{{ opencast_nfs_mountpoint }}"

# Mail Letsencrypt
opencast_letsencrypt_email: opencast-support@elan-ev.de

opencast_cors_urls: []
