---

- name: Copy config files that require restart
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: '/etc/opencast/{{ item.split("etc/") | last }}'
    owner: opencast
    group: opencast
    mode: "0644"
  with_fileglob:
    - "etc/*"
    - "etc/workflows/*"
  notify: Restart opencast
  tags:
    - copy_configuration

- name: Create configs from templates
  ansible.builtin.template:
    src: "{{ item }}.j2"
    dest: "/etc/opencast/{{ item }}"
    owner: opencast
    group: opencast
    mode: "0644"
  loop:
    - custom.properties
  notify: Restart opencast
  tags:
    - copy_configuration

- name: Copy UI config
  ansible.builtin.copy:
    src: "{{ item }}"
    dest: '/etc/opencast/{{ item.split("etc/") | last }}'
    owner: opencast
    group: opencast
    mode: "0644"
  with_fileglob:
    - "etc/ui-config/mh_default_org/editor/editor-settings.toml"
  tags:
    - copy_configuration
